*{
    margin: 0;
    padding: 0;
    font-family: "Courier Prime", monospace;
} 
.container{
   width: 100%;
   height: 100vh;
  /*background-color: rgba(177,190,134,255 );
   background-image: file name(if later you want to add a file)*/
   background-image: url(BGimage.png);
   background-position: center;
   background-size: cover; 
   padding-left: 8%;
   padding-right: 8%;
   box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex-grow: 1;
    /*justify-content: "  ";*/
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #000;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #fff;
    font-size: 12px;
    padding: 12px 0;
    background: #000;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-table;
    border-radius: 10px;
    padding: 15px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 25px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}
.card1{
    background-image: url(images/savouryBG.png);
   

}
.card2{
    background-image: url(images/pic-2.png);
    
}
.card3{
    background-image: url(images/pic-3.png);
    
}
.card4{
    background-image: url(images/pic-4.png);
}
.card:hover{
    transform: translateY(-10px);
}
h4{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
h3{
    color: #000;
    text-shadow: 0 0 5px #999;
}
.cardp{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}
.card1 {
    flex-basis: 20%;
    float: left;
}
.card1, .card2{
    padding-right: 10px;
}
.card3, .card4{
    clear: both;
}
.card3{
    flex-basis: 50%;
    float: left;   
}

