:root{
    --section-title: #95A1DA;
    --title: #6074d8;
}

*{
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section{
    width: 80%;
    align-items: center;
    margin: 20px auto;
    height: 30%;
}

iframe{
    width: 100%;
    height: 450px;
  }

  .banner-video{
    height: 400px;
    overflow: hidden;
  }

  .final-vid{
      width: 500px;
      margin: 10px auto 20px auto;
  }


  
/*TEXT SETTINGS*/

html{
    scroll-behavior: smooth;
}


h2{
    font-size: 24px;
    color: var(--title);
    font-family:  "Playfair Display";
    margin: 0 0 10px 0;
    font-weight: 1000;
}

h3{
    font-size: 22px;
    padding: 5px 10px;
    font-family: "Playfair Display";
    color: var(--section-title);
    text-decoration: none;
    text-align: center;
}

h5{
    font-size: 20px;
    font-family: "Playfair Display";
    color: var(--section-title);
    text-decoration: none;
    margin: 0 0 10px 0;
    text-align: center;
    padding: 0 2px;
}

h4{
    font-size: 20px;
    font-family:  "Playfair Display";
    color: var(--section-title);
    margin: 0;
    margin: 0 0 10px 0;
}

p{
    font-size: 18px;
    font-family:  "Source Sans Pro";
    margin: 0 0 10px 0;
    line-height: 1.2;
}


span{
    color: var(--title);
    font-weight: bolder;
}

span a{
    font-size: 22px;
    font-family: "Playfair Display";
    color: var(--section-title);
    text-align: center;
    color: var(--title);
}

a{
    color: var(--title);
    font-weight: bolder;   
}

/*BUTTON STYLING*/

.btn2{
    margin: 0 auto;
    background-color: #d3d8f2;
    border-radius: 5px;
    border: 1px solid #95A1DA;
    text-align: center;
    padding: 5px 10px;
}

.d-btn{
    background-color: #d3d8f2;
    border-radius: 5px;
    border: 1px solid #95A1DA;
    text-align: center;
    padding: 4px;
}

.d-btn a{
    color: var(--title);
    font-size: 18px;
    font-family: "Source Sans Pro";
    text-decoration: none;
}

.btn:hover, .btn2:hover, .d-btn:hover{
    transform: scale(1.1);
    transition: ease 1s;
    background-color: rgba(255, 255, 255, 0.701);
}
.btn a, .btn2 a{
    font-family:  "Source Sans Pro";
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-style: normal; 
    font-weight: 1000;
}

.design-process-btns{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.back-btn a{
    display: inline-block;
    font-size: 30px;
    margin-right: 100%;
    color: black;
    text-decoration: none;
}



/*TOP INTRO COVER*/
.full-block-1{
    flex: 0 0 100%;
    width: 100%;
    padding: 50px;
    height: 50%;
    text-align: center;
    background-color: var(--section-title);
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    margin: 0;
    font-size: 64px;
    font-style: normal; 
    font-weight: 900;
    color: black;
    font-family: "Playfair Display";
}

.subtitle{
    color: black;
    font-size: 32px;
    font-family:  "Playfair Display";
    font-weight: bolder;
    text-align: center;
}

.text-block{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 10px;
}

.img-block{
    width: 60%;
    height: 100%;
}

.full-block-end{
    width: 100%;
    margin: 20px 0;
}

/*INTRO: DURATION, TEAM, TOOLS, SKILLS*/
.info-banner{
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    margin: 0 0 30px 0;
    background-color: #E6EAFE;
    border-radius: 10px;
    padding: 0 10%;
}

.intro-info-block{
    text-align: center;
    margin: 0 10px;
    padding: 20px;
}


/*TEXT BLOCK*/
.full-block{
    width: 100%;
    font-family: 'Source Sans Pro'; 
    display: flex;
    flex-direction: column;
}

.double-block{
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.half-block{
    width: 50%;
}

img, .img-t2{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto 20px auto;
}

.main{
    width: 100%;
    height: 100%;
    display: block;
}

/*IMAGE STYLING*/
.data{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.ma-ca{
    display: block;
    margin: 10px auto;
    width: 70%;
    height: 55%;
}

.brainstorming{
    display: block;
    margin: 10px auto;
    width: 100%;
    height: 100%;
}

.problems{
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 80%;
}

.lofis1{
    display: block;
    margin: 10px auto;
    width: 70%;
    height: 70%;
}

.lofis{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.mon-ami-img-intro{
    width: 80%;
    height: 90%;
    margin: 0;
}


/*FOOTER*/
.footer{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-decoration: none;
    margin-bottom: 10px;
}

.socials i{
    transition: ease 1s;
    color: #4C219D;
}

.socials i:hover{
    transform: scale(1.1);
}


@media only screen and (max-width: 900px){
    .double-block{
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    .half-block{
        width: 100%;
    }

    .text-block{
        width: 100%;
        margin: 0 auto;
    }
    .img-block{
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
    .img-t2{
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .mon-ami-img-intro{
        width: 70%;
        height: 80%;
        margin: 0 auto;
    }
}

@media (max-aspect-ratio: 9/16) {
    .banner-video{
      width: 100%;
      overflow: hidden;
    }

    iframe{
      width: calc((100vh*9)/16);
      height: 400px;
    }
  }

@media only screen and (max-width: 700px){
    section{
        width: 90%;
        align-items: center;
        margin: auto;
    }
    .info-banner{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        margin: 0 0 30px 0;
        background-color: #E6EAFE;
        border-radius: 10px;
        padding: 0 10%;
    }
    .main{
        width: 100%;
        height: 100%;
        display: block;
        margin: 20px auto;
    }

    .text-block{
        width: 100%;
    }
    .img-block{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 700px){
    .final-vid{
        width: 100%;
    }
}